.conect-yourself {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: 15px;

    .span {
        font-family: $font-main;
        font-size: 14px;
        color: $color-one;
    }
}