.conect-yourself {
    display: flex;
    flex-direction: column;
    padding: 34px 12px 0px 30px;
   

    .span {
        font-family: $font-main;
        font-size: 14px;
        color: $color-one;
        margin-block-end: 0px;
    
    }

    .conect-title {
        font-family: $font-title;
        font-weight: bold;
        font-size: 24px;
        margin-top: 7px;
        margin-bottom: 0px;
    }

    .conect-text {
        font-family: $font-main;
        font-size: 18px;
        color: $color-four;
        line-height: 30px;
        margin-top: 7px;
    }

    .buy-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 45px;
        border: solid 2px $color-one;
        border-radius: 22.5px;

        .buy {
            font-family: $font-main;
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
            color: $color-one;

        }
    }
}

.new-year {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 89px 83px 83px 83px 45px;
    column-gap: 50px;
    height: 624px;
   /* width: 100vw;*/
    background-color: $color-five;
    
    .new-year-title {
        font-family: $font-title;
        font-weight: bold;
        line-height: 30px;
        justify-self: center;
        align-self: center;
        
    }

}

