.conect-yourself {
    display: flex;
    flex-direction: column;
    padding: 34px 12px 0px 30px;

    .span {
        font-family: $font-main;
        font-size: 14px;
        color: $color-one;
    }

    .conect-title {
        font-family: $font-title;
        font-weight: bold;
        font-size: 24px;
    }

    .conect-text {
        font-family: $font-main;
        font-size: 18px;
        color: $color-four;
        line-height: 30px;
    }

    .buy-button {
        width: 160px;
        height: 45px;
        border: solid 2px $color-one;
        border-radius: 22.5px;
    }
}