.conect-yourself {
    display: flex;
    flex-direction: column;
    padding: 34px 16px 0px 16px;

    .span {
        font-family: $font-main;
        font-size: 14px;
        color: $color-one;
    }
}