.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 465px;
    width: 100vw;
    background-color: $color-four;

    @media all and (min-width: 768px) {
        height: 240px;
    }

    @media all and (min-width: 1200px) {
        height: 240px;
    }

    .menu-footer {

        @media all and (min-width: 768px) {
            display: flex;
            flex-direction: row;
        }
    
        @media all and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
        }
    }
    .container-arrow2 {
        width: 45px;
        height: 45px;
        background-color: $color-two;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        translate: 0 -25px;

        @media all and (min-width: 768px) {
            translate: 0 -15px;
        }
    
        @media all and (min-width: 1200px) {
            
        }
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .ul {
            list-style-type: none;
            font-family: $font-main;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            padding-inline-start: 0px;

            .link {
                text-decoration: none;
                color: $color-two;
            }
        }
    }

    .container-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-main;
        font-size: 14px;
        color: $color-two;

        .copy {
            margin-bottom: auto;
        }

        .love-run {
            .span {
                color: $color-one;
            }
        }
    }
}