.header {
  display: flex;
  .container-menu {
    transform: translate(50% 50%);
    width: 37px;
    height: 34px;
    background-color: #f26002;
    .menu {
      display: block;
      margin: auto;
    }
  }
}