.header {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

  .container-menu {
    display: flex;
    width: 9.87%;
    height: 5.55%;
    background-color: #f26002;
    margin-top: auto;
    margin-left: 0px;
    align-items: center;
    justify-content: center;

    .menu {
      display: block;
      margin: auto;
    }
  }
}