.hero {
    display: flex;
    background-image: url("../images/cover.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
  
}