.hero {
    display: flex;
    background-image: url("../images/cover.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    height: 100vh;
    width: auto;

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;

        .hero-title {
            font-size: 30px;
            font-family: 'Roboto Slab', sans-serif;
        }
    
    }

}