.hero {
    display: flex;

    width: 100vw;
    height: 100vh;
    background-image: url("../images/cover.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
}