<footer class="footer">
  <div class="container-arrow2"></div>
  <a href="#header">
    <img src="../assets/images/ico-arrow.svg" alt="Flecha scroll arriba">
  </a>
  <nav class="nav-1">
    <ul>
      <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
      <li><a href="https://adalab.es/">ROPA</a></li>
      <li><a href="https://adalab.es/">NIÑO/A</a></li>
      <li><a href="https://adalab.es/">DESTACADOS</a></li>
      <li><a href="https://adalab.es/">TIPS</a></li>
    </ul>
  </nav>
  <nav class="nav-2">
    <ul>
      <li><a href="https://adalab.es/">TWITTER</a></li>
      <li><a href="https://adalab.es/">INSTAGRAM</a></li>
      <li><a href="https://adalab.es/">YOUTUBE</a></li>
    </ul>
  </nav>
  <small class="copy">
    &copy;2023
  </small>
  <small class="love-run">
    we &#x2764 run
  </small>
</footer>
