<footer class="footer">
  <div class="container-arrow2">
    <a href="#main">
      <img class="arrow2" src="../assets/images/ico-arrow.svg" alt="Flecha scroll arriba">
    </a>
  </div>
  <nav class="nav">
    <ul class="ul">
      <li><a class="link" href="https://adalab.es/">ZAPATILLAS</a></li>
      <li><a class="link" href="https://adalab.es/">ROPA</a></li>
      <li><a class="link" href="https://adalab.es/">NIÑO/A</a></li>
      <li><a class="link" href="https://adalab.es/">DESTACADOS</a></li>
      <li><a class="link" href="https://adalab.es/">TIPS</a></li>
    </ul>
  </nav>
  <nav class="nav">
    <ul class="ul">
      <li><a class="link" href="https://adalab.es/">TWITTER</a></li>
      <li><a class="link" href="https://adalab.es/">INSTAGRAM</a></li>
      <li><a class="link" href="https://adalab.es/">YOUTUBE</a></li>
    </ul>
  </nav>
  <div class="container-copy">
    <p class="copy">&copy;2023</p>
    <p class="love-run">we <span>&#x2764</span> run</p>
  </div>
</footer>
