<footer class="footer">
  <a href="#header">
    <img src="../assets/images/ico-arrow.svg" alt="Flecha scroll arriba">
  </a>
  <nav class="nav-1">
    <ul>
      <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
      <li><a href="https://adalab.es/">ROPA</a></li>
      <li>NIÑO/A</li>
      <li>DESTACADOS</li>
      <li>TIPS</li>
    </ul>
  </nav>
  <nav class="nav-2">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <small>
    &copy;2023
  </small>
  <small>
    we &#x2764 run
  </small>
</footer>
