<main class="main">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-title">HASTA UN 50% DE DESCUENTO</h1>
      <p class="hero-text2">Ya están aquí las ofertas de fin de temporada</p>
      <div class="container-arrow">
        <a href="#new-year">
          <img class="arrow" src="../assets/images/ico-scroll-down.svg" alt="Flecha de scroll hacia abajo">
        </a>
      </div>
    </div>
  </div>
  <section class="conect-yourself">
    <span class="span">Los sentimientos nos inspiran</span>
    <h2 class="conect-title">Conecta Contigo</h2>
    <p class="conect-text">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
    <div class="buy-button">
      <a class="buy" href="https://adalab.es/">Comprar</a>
    </div>
  </section>
  <section id="new-year" class="new-year">
    <h2 class="new-year-title">Año nuevo, movimientos nuevos</h2>
    <article class="article1">
      <h3 class="article1-title">Entrenamientos</h3>
      <p class="article1-text">Sesiones de running y entrenamientos.</p>
    </article>
    <article class="article2">
      <h3 class="article2-title">Cualquier nivel</h3>
      <p class="article2-text">Entrenamientos para cada nivel</p>
    </article>
    <article class="article3">
      <h3 class="article3-title">Exclusividad</h3>
      <p class="article3-text">Productos para miebros premium.</p>
    </article>
    <div>
      <a class="start-now" href="https://adalab.es/">Empezar ahora</a>
    </div>
  </section>
</main>
