<main class="main">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-title">HASTA UN 50% DE DESCUENTO</h1>
      <p class="hero-text2">Ya están aquí las ofertas de fin de temporada</p>
      <img src="../assets/images/ico-scroll-down.svg" alt="Flecha de scroll hacia abajo">
    </div>
  </div>
  <section>
    <h3>Los sentimientos nos inspiran</h3>
    <h2>Conecta Contigo</h2>
    <p>Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
    <a href="">Compra</a>
  </section>

  <section>

  </section>
</main>
