// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', sans-serif;

// colors
$color-one: #f26002;
$color-two: #ffffff;
$color-three: #979797;
$color-four: #4a4a4a;
$color-five: #f2f2f2
